[Unit]
Description=UBoot Splash Image selection service
After=systemd-modules-load.service

[Service]
ExecStart=/usr/share/uboot-splashimage/uboot-set-splashimage.sh
Type=oneshot

[Install]
WantedBy=griffin.target

